# Block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

# Stop users from viewing these folders/files

<Files .gitattributes>
    Require all denied
</Files>

<Files .gitignore>
    Require all denied
</Files>

<Files .htaccess>
    Require all denied
</Files>

<Files README.md>
    Require all denied
</Files>

DirectoryIndex index.php index.html

# Add caching for API responses & resources
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType text/plain "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/svg+xml "access 1 year"
</IfModule>
<IfModule mod_headers.c>
    # Cache specified static files for 1 year
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|svg)$">
        Header set Cache-Control "max-age=31556952, public"
    </FilesMatch>
</IfModule>

# Deflate API responses
<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
       AddOutputFilterByType DEFLATE application/json
    </IfModule>
</IfModule>

RewriteEngine On

# All API requests are routed via one PHP router file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9]+)/(.+)/$ /index.php/$2

# Force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9]+)/(.+)$ /v$1/$2/ [R=301,L]

# Catch if no object requested
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9]*)/$ /index.php/$2

# Catch if no object requested and no trailing slash, so redirect & force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9]*)$ /v$1/ [R=301,L]

# Catch if no version provided & object provided
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9]*)/(.*)/$ /index.php/$2

# Catch if no version provided & object provided and no trailing slash
# Redirect to include slash so force it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9]*)/(.*)$ /v$1/$2/ [R=301,L]
